<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715950884431-84c8evdspmemo76u4is060ooltjuhuso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715950884431-84c8evdspmemo76u4is060ooltjuhuso</string>
	<key>API_KEY</key>
	<string>AIzaSyCeERNveF5iLaDEzerYcu7CdZ9ufDMi8ro</string>
	<key>GCM_SENDER_ID</key>
	<string>715950884431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>learning12.CardsToLearn</string>
	<key>PROJECT_ID</key>
	<string>fir-card-790a1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-card-790a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715950884431:ios:a594484af0132e5c180c3a</string>
</dict>
</plist>